*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* font settings */
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    height: 46.8rem;
    width: 100%;
}

.white-color{
    color: white;
}

.header-main{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 15rem;
    line-height: 3rem;
    align-items: center;
}

.big-logo{  /* * discord logo in the header*/
    align-self: baseline;
}

.limited-width {
    max-width: 120rem;
}

.blue-back {
    background-color: #255ee9;
}

.menu-bar { /* ! ul in the header */
    display: flex;
    list-style-type: none;
    text-decoration:none;
    color: white;
}

.menu-bar a{ /* ? link in the header*/
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}

a:hover{
    text-decoration: underline;
}

.download {
    /* background image settings */
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 41.8rem;

    /* display settings */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.download h1{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.button-section {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 22.4rem;
}

.download p{
    width: 36.9rem;
    line-height: 1.6rem;
    align-self: center;
    margin-bottom: 0.6rem;
}

.rounded{ /* ? button class */
    border-radius: 1.8rem;
    padding: 0.5rem 1.2rem;
    border: 0;
    font-weight: 700;
    line-height: 1.6rem;
    align-content: baseline;
}

.rounded:hover{
    box-shadow: 0px 2px 5px;
}

.black-back{
    background-color: #23272a;;
}

main > section{
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.text-section{
    width: 21.8%;
}

.text-section  h1, .footer-main h1{
    margin-top: 1.7rem;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.text-section  p, .footer-main p{
    font-weight: 300;
    font-size: 1.38rem;
}

.gray-back {
    background-color: #f6f6f6;
}

.footer-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 6rem 0;
}

.footer-main p{
    width: 65rem;
    align-self: center;
}

.videocall {
    width: 90rem;
    align-self: center;
}

.stars{
    width: 42rem;
    align-self: center;
}

.footer-main h2{
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.azure-back{
    background-color: #7289da;
    font-size: 1.3rem;
    font-weight: 300;
}

body > footer{/* ! only the footer of the page (exclude the one in main) */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-content { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem 0;
    width: 100%;
}

.dark-back {
    background-color: #23272a;
}

footer h2 {
    font-size: 2rem;
}

.azure-color {
    color: #7289da;
}

.horizontal-alignment{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 1.2rem;
    font-weight: 400;
}

body > footer img{
    margin-right: 0.4rem;
}

footer ul{
    list-style-type: none;
    text-decoration:none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer li{
    margin: 2rem 0;
}

.socials {
    width: 20%;
}

.links{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 70%;
}

hr{
    color: #7289da;
    margin-bottom: 1.5rem;
}

.footer-end{
    width: 90%;
    margin-bottom: 1.5rem;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
}